/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: darkgrey;
  margin-left: 20px;
  color: black;
}

a {
  text-decoration: none;
  color: black
}

.col-8 {
  margin-top: 10px;
}

.col-8 a {
  margin: 20px;
  color: black;
}

.col-8 a:hover {
  color: red;
}

.form-button {
  margin-left: 35px;
}

.games {
  margin-bottom: 50px;
  margin-left: 10px;
}

h1 {
  text-align: center;
}

.form-game {
  text-align: center;
}

.form-series {
  text-align: center;
}

.back {
  margin-top: 10px;
}

.back a:hover {
  color: red;
}

.series-show {
  margin-left: 10px;
}

.collection {
  margin-left: 10px;
}

.total {
  margin-bottom: 25px;
}

.series-index {
  margin-left: 10px;
  margin-bottom: 50px;
}

hr.solid {
  border-top: 3px solid black;
}

.login {
  text-align: center;
  margin-top: 20px;
}

.form-login {
  margin: 20px;
}

.signup {
  text-align: center;
}

.form-signup {
  margin: 10px;
}

.pass-con-move {
  margin-right: 110px;
}

.pass-move {
  margin-right: 25px;
}

.pass-move-login {
  margin-right: 25px;
}

.console-move {
  margin-right: 25px;
}

.title-move {
  margin-right: 5px;
}

.price-move {
  margin-right: 5px;
}

.series-move {
  margin-right: 40px;
}